body{background-color: rgb(243, 235, 235)}
h1{color: blue;}
p{color: blueviolet;}
*{font-size: 30px;}
#link{color: red;}
.contacts{color: brown;}
.figcaption{color: green;}
.fig{display: inline-block;}